In [26]:
! wget https://raw.githubusercontent.com/PulockDas/pd-12-resources/refs/heads/master/titanic.csv

--2025-02-10 15:01:30--  https://raw.githubusercontent.com/PulockDas/pd-12-resources/refs/heads/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.02s

2025-02-10 15:01:31 (3.13 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('titanic.csv')

In [29]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [32]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [33]:
mean_age = df['Age'].mean()

In [34]:
df['Age'] = df['Age'].fillna(mean_age)
df['Cabin'] = df['Cabin'].fillna('Unknown')

In [36]:
f_data = df[['Survived', 'Sex']]

In [37]:
f_data

     Survived     Sex
0           0    male
1           1  female
2           1  female
3           1  female
4           0    male
..        ...     ...
886         0    male
887         1  female
888         0  female
889         1    male
890         0    male

[891 rows x 2 columns]

In [39]:
f_data.value_counts()

Survived  Sex
0         male      468
1         female    233
          male      109
0         female     81
Name: count, dtype: int64

In [ ]:
import matplotlib.pyplot as plt